<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/design.css}" />
    <title>CGPA</title>
</head>
<body>

<div class="coffee" ><script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="szbjehan" data-color="#5F7FFF" data-emoji="🍔"  data-font="Cookie" data-text="Send me Burgers" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script> </div>

<section class="index-body">

<h1 class="index-title"> BRACU CGPA Calculator </h1>
<img th:src="@{/images/Brac_University_Logo.png}" alt="BRACU logo" class="brac-logo" >

<form th:action="@{/result}" th:object="${student}" method="post">
    <div class="cgs">
        <label> Number of courses with A (GPA 4.0) = </label>
        <input type="number" id="cg1" class="form-control cg-inp" name="cg1" placeholder="0"/>
    </div>
    <div class="cgs">
        <label> Number of courses with A- (GPA 3.7)= </label>
        <input type="number" id="cg2" class="form-control cg-inp" name="cg2" placeholder="0"/>
    </div>
    <div class="cgs">
        <label> Number of courses with B+ (GPA 3.3)= </label>
        <input type="number" id="cg3" class="form-control cg-inp" name="cg3" placeholder="0"/>
    </div>
    <div class="cgs">
        <label> Number of courses with B (GPA 3.0)  = </label>
        <input type="number" id="cg4" class="form-control cg-inp" name="cg4" placeholder="0"/>
    </div>
    <div class="cgs">
        <label> Number of courses with B- (GPA 2.7)= </label>
        <input type="number" id="cg5" class="form-control cg-inp" name="cg5" placeholder="0"/>
    </div>
    <div class="cgs">
        <label> Number of courses with C+ (GPA 2.3)= </label>
        <input type="number" id="cg6" class="form-control cg-inp" name="cg6" placeholder="0"/>
    </div>
    <div class="cgs">
        <label> Number of courses with C (GPA 2.0) = </label>
        <input type="number" id="cg7" class="form-control cg-inp" name="cg7" placeholder="0"/>
    </div>
    <div class="cgs">
        <label> Number of courses with C- (GPA 1.7)= </label>
        <input type="number" id="cg8" class="form-control cg-inp" name="cg8" placeholder="0"/>
    </div>
    <div class="cgs">
        <label> Number of courses with D+ (GPA 1.3)= </label>
        <input type="number" id="cg9" class="form-control cg-inp" name="cg9" placeholder="0"/>
    </div>
    <div class="cgs">
        <label> Number of courses with D (GPA 1.0) = </label>
        <input type="number" id="cg10" class="form-control cg-inp" name="cg10" placeholder="0"/>
    </div>
    <div class="cgs">
        <label> Number of courses with D- (GPA 0.7)= </label>
        <input type="number" id="cg11" class="form-control cg-inp" name="cg11" placeholder="0"/>
    </div>
<!--    <div class="cgs">-->
<!--        <label> Total number of F (GPA 0.0) on how many courses? </label>-->
<!--        <input type="number" id="cg12" class="form-control" name="cg12" placeholder="0"/>-->
<!--    </div>-->
    <br/>

    <div>
        <label> Thesis Grade </label>
        <input type="number" id="cgth" step="0.1" max="4" class="form-control" name="cgth" placeholder="0.0"/>
    </div>
    <br/>

    <div>
        <input class="submit-btn" type="submit" value="Get CGPA"/>
    </div>
</form>
</section>

<div class="footer">©2023 copyright | all right reserved | <a href="https://szbjehan.github.io/portfolio/" target="_blank"> Syed Ziaul Bin Bashar </a>
</div>

</body>
</html>